[color]
	diff = auto
	status = auto
	branch = auto
[core]
	quotepath = false
	excludesfile = /Users/rik1shah/.gitignore_global
[user]
	email = rik1shah@gmail.com
	name = Rikin Shah
[alias]
	co = checkout
[github]
	user = rik1shah
